AI Email Urgency Classifier & Gmail Labeler.json
{
  "name": "AI Email Urgency Classifier & Gmail Labeler",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "includeDrafts": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f91e5a43-c5cb-4281-bdf0-20ce4422c2e6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2wBIF5x5ht8rPAjU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "You are an AI assistant that determines how urgent an email is based on its body text.\n\nYour task is to read the body of an email and classify it as one of the following:\n\n• Urgent: Requires immediate attention (within a few hours).\n• High Priority: Needs action soon (within a day).\n• Normal: Can be addressed later (no immediate deadline).\n• Low Priority: Informational or not requiring a response.\n\nWhen classifying, focus on tone, deadlines, and keywords like ASAP, urgent, today, deadline, please respond soon, etc.\n\nYour output should be short and formatted like this:\n\nUrgency: [Urgent / High Priority / Normal / Low Priority]\nReason: [One short sentence explaining why]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "e770e5c9-cf45-4322-b5e0-1439e0f5ed8c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "7dc8d14a-16e1-452d-aed7-bcb0aa962593",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Jx2HGXDkhZ8WHKPm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "8bd847c6-704f-432b-867f-6dcdb8a9b822",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_UPDATES"
        ]
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        432,
        208
      ],
      "id": "c2957898-9e28-4d71-b591-6d1b521b3e42",
      "name": "Add label to message in Gmail",
      "webhookId": "6a2a7262-63b1-41c0-9a06-22764d564a9c",
      "credentials": {
        "gmailOAuth2": {
          "id": "2wBIF5x5ht8rPAjU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mahanmraikar@gmail.com",
        "subject": "Urgent support",
        "message": "={{ $json.output }}{{ $('Gmail Trigger').item.json.From }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "b064d605-1d55-4a76-a356-54ae7a5b673e",
      "name": "Send a message",
      "webhookId": "15562184-642c-4060-9773-e9c191e1574b",
      "credentials": {
        "gmailOAuth2": {
          "id": "2wBIF5x5ht8rPAjU",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14632cb4-1d51-4fcc-ab38-55cef33a3473",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e78a0ed6db921c12311cf237c22754b44392c9efea7140d91e123f602603049"
  },
  "id": "uopPFVszQhxIMSdH",
  "tags": []
}